body{
    /* background-color: wheat; */
}
div{
   width:100%;
    zoom: 100%;
}
#navbar{
    width:95%;
    height:80px;
    /* border:1px solid black; */
    align-items:center;
    background-color:#f3f2f2e7;
    padding:8px;
}
#logo{
    display: inline-block;
}
#heading1{
    display: inline-block;
}
#list{
    display:inline-block;
    list-style: none;
    text-align: center;
   margin-left: auto; 
  margin-right: 0;
    float:right;
}
li:hover:active{
color:#9929fb;
background-color: #9929fb;
border-radius: 3px;
}
#list>li{
     display: inline-block;
    /* font-size: 22px; */
    margin:0px 20px;
    font-weight: 600;

}
#button1{
background-color: #9929fb;
color:#ffffff;
border-radius: 10px;
font-size: 28px;
padding:10px 32px;
text-align: right;
}
#button1:hover{
    background-color:#431968;
}
.main{
     width:100%;
    /* margin:10px; */
    margin-left:15px;
    margin-top: 110px;
    display:flex;
    /* background-color: white; */
    box-shadow: 800px 20px 300px #faadee;
    border-radius: 20px;

}
#div1{
    /* margin: 0px 136px 0px 0px;
    padding: 52px 0px 0px; */
    width:50%;
    /* margin: auto; */
    margin-left: 50px;
    margin-top: 50px;
}
h1{
    /* font-size: 30px; */
}
#id1{
    font-size:30px;
     color: #6d6969;
}

#div2{
    background: whitesmoke;
    background-image: url('https://themewagon.github.io/picto/assets/person-CqOZwXV1.png');
     /* padding: 52px 0px 0px; */
      width: 50%;
    max-width: 500px;
     /* height:90%; */
    margin-left:100px;
    margin-right: auto;
     margin-top: 20px;
     margin-bottom: 100px;
       /* display: inline-block; */
     border-radius:25px;
     background-repeat: no-repeat;
      text-align: center;
     }
#a2{
width:25%;
   color: White;
   background-color: #9929fb;
   border-radius:6px;
   font-size: 35px;
   text-align: center;
}
#a2:hover{
     background-color: #431968;
}
.div6{
    display: flex;
    margin-top:100px;
    margin-right:500px;
    width:10px;
    margin-left:0px;
}
#div3{
    display:inline;
    background-color: #f6ebfe;
    align-items: center;
    padding:0px 30px 0px ;
     width:218.387px;
    height:106px;
    line-height: 0.5;
    text-align:center;
    padding-bottom: 10px;
}
#para{
    padding-top:20px;
    line-height: 1;
    font-size: 22px;
}
#div4{
    display:inline;
    background-color: #f6ebfe;
    padding:0px 30px 0px ;
    width:218.387px;
    height:106px;
    margin-left: 10px;
  text-align: center;
  padding-right:50px;
  padding-bottom: 10px;
}
#para1{
    padding-top:10px;
    font-size: 22px;
}
#div5{
    background-color: #f6ebfe;
    align-items: center;
    padding:0px 30px 0px ;
    width:218.387px;
    height:106px;
    text-align: center;
    margin-left:10px;
    padding-bottom: 10px;
    padding-right:50px
}
#para3{
    font-size: 22px;
}
#experience{
    background:white;
    margin-left: auto;
    padding:80px;
    border-radius: 20px;
    width:100%;
    display:flex;
    height:500px;
     box-shadow: 800px 20px 300px #aad6db;
}
#div7{
    background-image: url('https://themewagon.github.io/picto/assets/person-CqOZwXV1.png');
    /* width:500px; */
    width:50%;
    height:500px;
    background-color:#F0F1F3;
    border-radius:20px;
     vertical-align: middle;
}
#div8{
    margin:150px 100px;
    width:50%;
}
h2{
    font-display:inline;
    text-align: center;
    font-size: 32px;
}
.class1{
    box-sizing: border-box;
}
 .class2{
    font-size:22px;
    font-weight: lighter;
 }
 .class3{
    font-size:22px;
    font-weight: lighter;
 }
 #menu2{
    background-color:#d3d3d3;
    height:780.8px;
    /* width:1008.56; */
    width:100%;
    display:flex;
 }
 #div9{
    margin: 0px 0px 32px;
    height:224.56px;
    /* width:748.8px; */
    width:30%;
    margin-left:90px;
    padding-top:200px;
    /* line-height: 1; */
    font-size:20px;
 }
h3{
   text-align: left;
   font-size: 36px;
   line-height: 0;
}
 #para2{
    text-align: center;
     font-style: normal;
     font-family:18px "work Sans", sans-serif;
     font-Weight:100px
    
 }
 #div10{
/* Background:rgb(58, 30, 30); */
/* margin:0px 0px 24px; */
padding:32px;
height:580.8px;
width:20%;
 margin-top:30px;
 margin-left:100px;
 margin-right:0px;
 /* display:flex; */
}
#id{
    background:white;
    margin: 0px 0px 24px;
    padding:32px;
    margin-left:10px;
    width:80%;
    border-radius: 20px;
    height:40%;
    text-align:center;
}
#id3{
   background:white;  
   padding:32px;
   margin:0px 0px 24px;
   display:block;
   width:80%;
    height:40%;
    border-radius: 20px;
}
#div11{
    /* Background:rgb(193, 16, 16); */
    /* padding:32px; */
height:580.8px;
width:20%;
 margin-top:60px;
 /* margin-left:100px; */
}
#id2{
   background:white;  
   padding:32px;
   margin:24px 0px 0px 12px;
    width:80%;
    height:40%;
    border-radius: 20px;
}
#id4{
   background:white;  
   padding-left:32px;
   margin:24px 0px 0px 12px;
    width:90%;
    height:50%;
    border-radius: 20px;
}
#para4{
    padding-top:90px;
    text-align: left;
    font-weight:bold;
    font-size: 22px;
}
#para5{
    padding-top:30px;
    text-align: left;
    font-weight:bold;
    font-size: 22px;
}
#para6{
    padding-top:90px;
    text-align: left;
    font-weight:bold;
    font-size: 22px;
}
#para7{
    padding-top:90px;
    text-align: left;
    font-weight:bold;
    font-size: 22px;
}
.mt-4{
    text-align: left;
    font-weight: lighter;
}
.menu3{
    margin:60px 0px 100px;
    padding:8px;
    height: 100%;
}
#p1{
    font-style: normal;
    font-weight: bold;
    font-style: normal;
    font-size: 40px;
    text-align: center;
    padding:auto;
}
#p2{
    text-align: center;
    font-size:24px;
    padding:auto;
    color:rgb(217, 213, 213)
}
#cards{
    background-color: #ffffff;
   width: 100%;
    display:flex;
display:grid;
grid-template-columns: repeat(3,1fr);
gap:20px;
padding:20px;
box-sizing: border-box;
}
.grid1{
    margin-right:50px;
    width: fit-content;
    height:500px;
}
.grid1:hover{
    box-shadow:-50px 0px 1000px rgb(223, 219, 219);
    border-radius: 25px;
}
.grid2{
    margin-right:50px;
    width: fit-content;
    height:500px;
}
.grid2:hover{
    box-shadow:-50px 0px 1000px rgb(223, 219, 219);
    border-radius: 25px;
}
.grid3{
    width: fit-content;
    height:500px;

}
.grid3:hover{
    box-shadow:-50px 0px 1000px rgb(223, 219, 219);
    border-radius: 25px;
}
.grid4{
    margin-right:50px;
    width: fit-content;
    height:500px;
}
.grid4:hover{
    box-shadow:-50px 0px 1000px rgb(223, 219, 219);
    border-radius: 25px;
}
.grid5{
    margin-right:50px;
    width: fit-content;
    height:500px;
}
.grid5:hover{
    box-shadow:-50px 0px 1000px rgb(223, 219, 219);
    border-radius: 25px;
}
.grid6{
    width: fit-content;
    height:500px;
}
.grid6:hover{
    box-shadow:-50px 0px 1000px rgb(223, 219, 219);
    border-radius: 25px;
}
#p3{
    font-weight: bold;
    font-size:20px;
}

#p4{
    text-align: left;
}
#text{
    padding-left:32px;
    padding-right:32px;
    padding-top:32px;
}
#design{
    color:rgb(214, 210, 210);
    font-size:12px;
}
#menu4{
    width:90%;
}
#project{
    text-align: center;
    font-weight: 900;
    font-size: 22px;
    border:1px solid #9929fb;
    color: #ffffff;
    background-color: #9929fb;
     margin: 50px auto;
  display: block;
  width: fit-content; 
    border-radius:3px;
   /* height: 30px; */
   padding-top:10px 20px;
   padding-bottom:10px

}
#project:hover{
background-color:#431968;
font-size: 22px;
color:#ffffff;
font-weight: 900;
}
#menu5{
    width:100%;
    height:464px;
    background-color: black;
}
#text1,#text2{
    color:#ffffff;
    padding: px 0px 32px;
}
#text1{
    padding-top:100px;
    font-size:48px;
    font-weight: bold;
    text-align:center;
}
#text2{
    text-align: center;
}
#link{
    background:#9929fb;
    padding:15px 15px;
    margin-left:550px;
    border-radius:3px;
    color:#ffffff;
    font-size:22px;
}
#link:hover{
    background-color:#431968;
    color:#ffffff;
    font-weight: bold;
}
#blog{
    height:840px;
    width:780px;
    padding:100px 8px;
    background-color: #ffffff;
}
#item1{
    margin:0px 100px;
    padding:0px 0px 70px;
    height:198px;
    /* width:540px; */
}
#text3{
    font-size: 48px;
    padding:0px 0px 24px;
    text-align: center;
    font-weight: bold;
}
#text4{
    text-align: center;
    color:rgb(214, 210, 210);
    font-size: 32px;
}
.item2{
    display: flex;
    width:50%;
    margin:auto 200px;
}
.class{
    margin:20px;
    border-radius:6px;
}
.class:hover{
    border-radius:20px;
    box-shadow:-50px 0px 1000px rgb(223, 219, 219);
}
#service{
    display:flex;
    width:100%;
    height:767.963px;
    background-color:rgb(245,245,245);
}
#text5{
    width:35%;
    padding-left:50px;
    margin-top:250px;
    vertical-align: middle;
}
#p5{
    font-size:28px;
    color:lightgray;
    /* text-align: center; */

}
#text6{
     width:50%;
    padding-left:50px;
    margin-top:100px;
    margin-left:150px;
    /* border:1px solid; */
}
#a3{
   width:30%;
   color: White;
   background-color: #9929fb;
   border-radius:6px;
   font-size: 30px;
   text-align: center;
}
#a3:hover{
     background-color: #431968;
}
#mt-3{
    background-color:#ffffff;
    margin-top: 20px;
    border-radius: 6px;
    height: 100px;
    /* padding-top:50px; */
    padding: 20px;
    width:80%;
    
}
h3{
    font-size:24px;
}

#row{
    height: 50px;
}
#p6{
    font-size: 20px;
}
#p7{
    font-size:28px;
}
h4{
    font-size: 32px;
}
#contact{
    margin-top:30px;
    margin-left:30px;
    display:flex;
    width:95%;
    border-radius: 6px;
    background-color: #d3d3d3;
}
#id7{
    margin:auto;
    margin-left:50px;
}
#form{
display: inline-block;
margin-top: 50px;
margin-left:30%;
}
button{
    background-color: #9929fb;
    border-radius:6px;
}
button:hover{
    color: #ffffff;
    background-color: #3b0b65;
    border-radius:6px;
}
#footer{
    width:100%;
    background: #544e4e;
}
#p8{
    padding-top: 30px;
}
#p8>a{
    color:white;
    font-size:32px;
}
#p8,#p9{
    float: down;
    color:#ffffff;
    text-align: center;
    font-weight: bold;
}
#p9{
text-align: right;
}